<section id="viewInventory" class="section-thm-top">
  <div class="container">
    <div class="table-responsive">
      <table id="viewInventoryTable" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Serial Number</th>
            <th>Manufacturer Name</th>
            <th>Model Name</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4">Loading...</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Serial Number</th>
            <th>Manufacturer Name</th>
            <th>Model Name</th>
            <th>Count</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div id="getRequestMessage"></div>
  </div>
</section>
<!-- Inventory List Modal Start --> 
<!-- The Modal -->
<div class="modal" id="inventoryModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"> 
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <table id="inventoryModalList" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Model Name</th>
                <th>Color</th>
                <th>Manufacturing Year</th>
                <th>Registration Number</th>
                <th>Chachis Number</th>
                <th>Notes</th>
                <th>Images</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="9">Loading...</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Model Name</th>
                <th>Color</th>
                <th>Manufacturing Year</th>
                <th>Registration Number</th>
                <th>Chachis Number</th>
                <th>Notes</th>
                <th>Images</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Inventory List Modal End --> 

<!-- Inventory Modal Image Start --> 
<!-- The Modal -->
<div class="modal" id="inventoryModalImage">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"> 
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <div id="inventoryModalImagesList">Loading...</div>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Inventory Modal Image End --> 

<!-- Inventory Modal Image Start --> 
<!-- The Modal -->
<div class="modal" id="messageModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"> 
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <div id="messageModalInner">Loading...</div>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Inventory Modal Image End -->